<!DOCTYPE html>
<html>
<head>
  <title>Paul Leonard's Video Platform</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <h1>Welcome, <%= username %></h1>
</body>
</html>
